uv.lock
logs/
**/__pycache__/
config.yaml
docker/redis/
target/
Cargo.lock
**/node_modules/
webui/dist/
webui/package-lock.json
uploaded_images/
pnpm
.lsmcp/
.claude/
.tmpbin/
models/*/
!models/text_embedding/Put_text_embedding_models_here.txt
model_inference/models/*/
.vscode/